/checkers_first.py
/checkers_v2.py
/checkers_v4.py
/checkers_v3.py
/checkers_v4.py
/tempCodeRunnerFile.py
/checkers.spec
/chess_test.py
/fun_defs.pdf
/functins_defs.py
/hook-pyfiglet.py
/test_ch.py
/inne